*{
	margin-top:  0px;
	padding-top: 0px;
	
}

body{

	margin: 0;
	padding: 0;
	background-image: url('../img/Log-In-Page.jpg');
	background-size: cover;
	/*background-position: center;*/
	font-family: sans-serif;

}