*{
	margin-top:  0px;
	padding-top: 0px;
	
}

body{

	margin: 0;
	padding: 0;
	background-image: url('../img/Log-In-Page.jpg');
	background-size: cover;
	/*background-position: center;*/
	font-family: sans-serif;

}

.logo{
	margin-top: 50px;
}


.loginbox{
	margin-top: 100px;
	width: 320px; /*loginsystem eka yatin thiyana kalu box eka haduva*/
	height: 420px;
    background:black;
    opacity: 0.6;  /*opacity use to limit transparentness */
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;

	/*padding: 70px 30px; mekath hari. yatin thiyana visiyata 2k liwvath hari*/
	padding-left: 30px;
    padding-top: 70px;
    
    border-radius: 50px;

}

.loginbox h1{
	margin: 0;
	padding: 0 0 20px ;
	text-align: center;
	font-size: 30px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold; /*userName password kiyana 2ka bold karanava*/
}

.loginbox input{
	width: 90%; /*user name ekai password ekai dena thanvala diga*/
	margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"] /*Log In button eka*/
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;/*login button eke thiyana Log In eka sudupata karanava*/
	font-size: 18px;
	border-radius: 20px;/*kotuvata thibba Log In buton eke kon rawm karanava*/

}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a
{
	text-decoration: none;/*hyper links yatin thiyana under lines nathi karanava*/
	font-size: 14px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover/*hover eken karanne curser eka link ekak udata genethdi link eke pata venaskaranava*/
{
	color: #ffc107;
}