*{
	margin-top:  0px;
	padding-top: 0px;
	
}

body{

	margin: 0;
	padding: 0;
	background-image: url('../img/Home_Page.jpg');
	background-size: cover; 
	/* background-position: center; */
    font-family: sans-serif;

}

.table_background{

	width: 600px; /*loginsystem eka yatin thiyana kalu box eka haduva*/
	height: 720px;
    background:darkblue;
	color: #fff; 
	top: 0%;
	left: 0%;  
	position: absolute; 
	box-sizing: border-box;

	/*padding: 70px 30px; mekath hari. yatin thiyana visiyata 2k liwvath hari*/
	padding-left: 30px;
    padding-top: 70px;

}
